<div class="container sky-bg-footer footer">

<div class="row"> 

<div class="span3">
	<h5>Skyhost.com.pl</h5>
	<p>Ponad 5 lat doświadczenia, pasja, zaangażowanie i ambicja zaoferowania najlepszej usługi serwerów VPS w Polsce stworzyło markę <strong>Skyhost.com.pl</strong></p>
</div>
<div class="span2"><h5>Nasze usługi</h5><p> <ul>
												<li><a href="">Serwery VPS HDD</a></li>
												<li><a href="">Serwery VPS HDD</a></li>
												<li><a href="">Serwery VPS HDD</a></li>
												<li><a href="">Serwery VPS HDD</a></li>
												<li><a href="">Serwery VPS HDD</a></li>
											</ul></p></div>
<div class="span2"><h5>Nasze Płatności</h5>
<ul class="inline-left payment">
    <li><img alt="icon" src="/static/images/icon-transferuj.png"></li>
    <li><img alt="icon" src="/static/images/icon-paypal.png"></li>
    <li><img alt="icon" src="/static/images/icon-visa.png"></li>
    <li><img alt="icon" src="/static/images/icon-mastercard.png"></li>
    <li><img alt="icon" src="/static/images/icon-maestro.png"></li>
    <li><img alt="icon" src="/static/images/icon-visa-electron.png"></li>
</ul> 
</div>

<div class="span3 right"><h5 class="color-orange">wsparcie 24x7  <img src="/static/images/icon-help.png" alt="icon"></h5>
	<a href="kontakt/" class="mybtn mediumbtn">Skontaktuj się&nbsp;z nami</a>
	<div class="spacer-20px"></div>
	<p><a href="kontakt/" class="text-small"><strong>nok@skyhost.com.pl</strong></a></p>
</div>


</div>
</div>