<div class="container sky-bg-footer footer">

<div class="row"> 

                    <!--first column starts-->
                    <div class="span3">
                        	<h5>MicroHost.pl</h5>
<p>Ponad 10 lat doświadczenia, pasja, zaangażowanie i ambicja zaoferowania najlepszej usługi serwerów VPS w Polsce stworzyło markę <strong>MicroHost.pl</strong></p>
<div class="spacer-10px">&nbsp;</div>
<p class="cursive color-orange">Dołącz do nas</p>
                    </div>
                    <!--first column ends--> 

                    <!--second column starts-->
                    <div class="span2">
                        <h5>Nasze usługi </h5>	<ul class="myunstyled submenu">
			<li>
			<a href="serwery/vps-hdd/" title="">Serwery VPS HDD</a>
					</li>
			<li>
			<a href="serwery/vps-ssd/" title="">Serwery VPS SSD</a>
					</li>
			<li>
			<a href="serwery/elitehost-z-direct-admin/" title="">Serwery EliteHost z Direct Admin</a>
					</li>
			<li>
			<a href="serwery/serwery-vps-gier/" title="">Serwery VPS Gier</a>
					</li>
			<li>
			<a href="/uslugi/" title="">Usługi</a>
					</li>
	</ul>

                    </div>
                    <!--second column ends--> 

                    <!--third column starts-->
                    <div class="span2">
                        	<h5>Nasze Płatności</h5>
<ul class="inline-left payment">
    <li><img alt="icon" src="/static/images/icon-transferuj.png"></li>
    <li><img alt="icon" src="/static/images/icon-paypal.png"></li>
    <li><img alt="icon" src="/static/images/icon-visa.png"></li>
    <li><img alt="icon" src="/static/images/icon-mastercard.png"></li>
    <li><img alt="icon" src="/static/images/icon-maestro.png"></li>
    <li><img alt="icon" src="/static/images/icon-visa-electron.png"></li>
</ul>                       
</div>

<div class="span2"></div>

<div class="span3"> <h5 class="cursive color-orange"> wsparcie 24x7 <img src="/static/images/icon-help.png" alt="icon"></h5> <a href="kontakt/" class="mybtn mediumbtn">Skontaktuj się&nbsp;z nami</a>
    <div class="spacer-20px"></div>
    <p class="text-big color-dark"> <strong>56 477 10 12</strong></p>
    <p><a href="kontakt/" class="text-small"><strong>bok@microhost.pl</strong></a></p>
    <ul class="social clearfix">
        <li><a href="#"><img src="/static/images/icon-social-twitter.png" alt="icon"></a></li>
        <li><a href="#"><img src="/static/images/icon-social-facebook.png" alt="icon"></a></li>
        <li><a href="#"><img src="/static/images/icon-social-pinterest.png" alt="icon"></a></li>
    </ul>
</div>
<!--fifth column ends--> 

                </div>
            </div>
