<div class="text-center">
	<h1>{{texts.promo_text.decode('utf-8')}}</h1>
	<p class="text-big text-center">Załóż swój własny serwer VPS <u>w mniej niż 57 sekund</u>! <a href="/proces-zamowienia/">Dowiedz się więcej »</a> </p>
	</div>
	<form class="form-inline" id="promo-form" method="post">
	
		<div class="input-prepend">
 			<span class="add-on"><i class="icon-alienware"></i></span>
  			<input class="span3" id="prependedInput" type="text" name="name" placeholder="Twoje imię*">
		</div>
	
		<div class="input-prepend">
 			<span class="add-on"><i class="icon-at"></i></span>
  			<input class="span3" id="prependedInput" type="text" name="email" placeholder="Adres e-mail*">
		</div>
		<div class="input-prepend">
 			<span class="add-on"><i class="icon-keyboard"></i></span>
  			<input class="span3" id="prependedInput" type="password" name="password" placeholder="Hasło*">
  		</div>
	
	
	<button type="submit" class="mybtn btn-success">Zarejestruj się</button>

	</form>